@font-face {
  font-family: 'GothamBook';
  src: url(../); }
/* line 8, ../scss/style.scss */
* .link {
  list-style: none;
  text-decoration: none; }
/* line 12, ../scss/style.scss */
* ul {
  margin: 0;
  padding-left: 0; }

/* line 17, ../scss/style.scss */
.container {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%; }

/* line 23, ../scss/style.scss */
.header {
  background-image: url(../images/background_head.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  padding-top: 10px; }
  /* line 30, ../scss/style.scss */
  .header .top_wrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px; }
    /* line 36, ../scss/style.scss */
    .header .top_wrap .logo_img {
      height: 55px;
      width: 250px; }
    /* line 40, ../scss/style.scss */
    .header .top_wrap .menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-width: 600px;
      width: 100%;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      /* line 45, ../scss/style.scss */
      .header .top_wrap .menu_link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-transform: uppercase;
        align-items: center; }
        /* line 50, ../scss/style.scss */
        .header .top_wrap .menu_link .circle {
          width: 10px;
          height: 10px;
          border: 1px solid #ffffff;
          border-radius: 50%;
          margin-right: 5px; }
        /* line 57, ../scss/style.scss */
        .header .top_wrap .menu_link .circle_fill {
          width: 10px;
          height: 10px;
          background-color: #ffffff;
          border: 1px solid #ffffff;
          border-radius: 50%;
          margin-right: 5px;
          display: none; }
      /* line 67, ../scss/style.scss */
      .header .top_wrap .menu_link:hover .circle {
        display: none; }
      /* line 70, ../scss/style.scss */
      .header .top_wrap .menu_link:hover .circle_fill {
        display: block; }
    /* line 74, ../scss/style.scss */
    .header .top_wrap .social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      max-width: 160px;
      width: 100%; }
      /* line 79, ../scss/style.scss */
      .header .top_wrap .social a {
        height: 40px;
        width: 40px;
        font-size: 20px;
        border: 1px solid #ffffff;
        border-radius: 50%;
        display: block;
        text-align: center;
        color: #000; }
        /* line 88, ../scss/style.scss */
        .header .top_wrap .social a .fab {
          margin-top: 10px;
          color: #ffffff; }

/*# sourceMappingURL=style.css.map */