/*SETTINGS*/
/*COLORS*/
/*FONTS*/
/* FONTS */
@font-face {
  font-family: 'GothamBook';
  src: url(../fonts/GothamBook.woff);
  font-weight: normal; }
@font-face {
  font-family: 'GothamBold';
  src: url(../fonts/gothambold1.woff);
  font-weight: bold; }
@font-face {
  font-family: 'GothamMedium';
  src: url(../fonts/gotham-medium-webfont.woff);
  font-weight: medium; }
@font-face {
  font-family: 'OpenSansRegular';
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: normal; }
@font-face {
  font-family: 'OpenSansItalic';
  src: url(../fonts/OpenSans-Italic.ttf);
  font-weight: normal; }
/* ANIMATIONS */
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
/* GENERAL */
/* line 54, ../scss/style.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }
  /* line 58, ../scss/style.scss */
  * ul {
    margin: 0;
    padding-left: 0; }

/* line 64, ../scss/style.scss */
body {
  margin: 0 auto;
  max-width: 1600px; }

/* line 69, ../scss/style.scss */
.h2 {
  margin-top: 40px;
  margin-bottom: 100px;
  color: #fff;
  text-transform: uppercase;
  font-family: "GothamMedium"; }

/* line 76, ../scss/style.scss */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

/* line 81, ../scss/style.scss */
.background_item {
  width: 585px;
  height: 470px;
  background-color: #55B7FF; }

/* line 87, ../scss/style.scss */
.container {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* line 95, ../scss/style.scss */
.logo_img {
  height: 55px;
  width: 250px; }

/* line 100, ../scss/style.scss */
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 160px;
  width: 100%; }
  /* line 105, ../scss/style.scss */
  .social a {
    height: 40px;
    width: 40px;
    font-size: 20px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    display: block;
    text-align: center;
    color: #000; }
    /* line 114, ../scss/style.scss */
    .social a .fab {
      margin-top: 10px;
      color: #ffffff; }
  /* line 119, ../scss/style.scss */
  .social a:hover {
    -webkit-animation-name: rotate;
            animation-name: rotate;
    -webkit-animation-duration: 1s;
            animation-duration: 1s; }

/* line 125, ../scss/style.scss */
.map {
  width: 100%;
  height: 700px; }

/* line 134, ../scss/style.scss */
.header {
  margin: 0 auto;
  width: 100%;
  padding-top: 10px;
  position: fixed;
  max-width: 1170px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  z-index: 1; }
  /* line 148, ../scss/style.scss */
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 600px;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    /* line 153, ../scss/style.scss */
    .header .menu_link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-transform: uppercase;
      align-items: center; }
      /* line 159, ../scss/style.scss */
      .header .menu_link .circle {
        width: 10px;
        height: 10px;
        border: 1px solid #ffffff;
        border-radius: 50%;
        margin-right: 5px; }
      /* line 166, ../scss/style.scss */
      .header .menu_link .circle_fill {
        width: 10px;
        height: 10px;
        background-color: #ffffff;
        border: 1px solid #ffffff;
        border-radius: 50%;
        margin-right: 5px;
        display: none; }
      /* line 175, ../scss/style.scss */
      .header .menu_link .link {
        font-family: 'GothamBook';
        text-decoration: none;
        color: #ffffff; }
    /* line 181, ../scss/style.scss */
    .header .menu_link:hover .circle {
      display: none; }
    /* line 184, ../scss/style.scss */
    .header .menu_link:hover .circle_fill {
      display: block; }

/* line 190, ../scss/style.scss */
.news {
  background-image: url(../images/background_news.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 900px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px; }
  /* line 201, ../scss/style.scss */
  .news .vertical_line {
    height: 100px;
    border-bottom: 1px solid #fff;
    width: 100px; }
  /* line 206, ../scss/style.scss */
  .news .news_slider {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  /* line 212, ../scss/style.scss */
  .news .news_slide {
    height: 515px;
    margin: 0 15px;
    background-color: #fff; }
    /* line 217, ../scss/style.scss */
    .news .news_slide .img_cont {
      height: 240px;
      width: 100%;
      overflow: hidden; }
    /* line 222, ../scss/style.scss */
    .news .news_slide .descr_cont {
      padding: 30px 20px; }
      /* line 224, ../scss/style.scss */
      .news .news_slide .descr_cont .h4 {
        margin: 0;
        text-transform: uppercase;
        font-family: "GothamBold";
        font-size: 22px;
        color: #2c4058;
        line-height: 34px; }
      /* line 232, ../scss/style.scss */
      .news .news_slide .descr_cont .slide_description {
        font-family: "OpenSansRegular";
        line-height: 30px;
        font-size: 18px;
        letter-spacing: -1px;
        margin: 14px 0;
        color: #4b5562; }
      /* line 240, ../scss/style.scss */
      .news .news_slide .descr_cont .author_content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        /* line 243, ../scss/style.scss */
        .news .news_slide .descr_cont .author_content .circle_box {
          height: 60px;
          width: 60px;
          border-radius: 50%;
          margin-right: 20px;
          overflow: hidden; }
        /* line 250, ../scss/style.scss */
        .news .news_slide .descr_cont .author_content .circle_description {
          height: 60px;
          font-family: "GothamBook";
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
          /* line 256, ../scss/style.scss */
          .news .news_slide .descr_cont .author_content .circle_description .author_name {
            text-transform: uppercase;
            font-size: 22px;
            color: #2c4058; }
          /* line 261, ../scss/style.scss */
          .news .news_slide .descr_cont .author_content .circle_description .date {
            color: #55b7ff; }

/* SLIDER TOP*/
/* line 273, ../scss/style.scss */
.my-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
  top: 50%; }

/* line 285, ../scss/style.scss */
.my-dots li {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 20px 5px;
  padding: 0;
  cursor: pointer; }

/* line 294, ../scss/style.scss */
.my-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

/* line 308, ../scss/style.scss */
.my-dots li button:hover,
.my-dots li button:focus {
  outline: none; }

/* line 313, ../scss/style.scss */
.my-dots li button:hover:before,
.my-dots li button:focus:before {
  opacity: 1; }

/* line 318, ../scss/style.scss */
.my-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: url("https://upload.wikimedia.org/wikipedia/commons/b/b7/Rule_Segment_-_Circle_open_-_20px.svg");
  text-align: center;
  opacity: .25;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 336, ../scss/style.scss */
.my-dots li.slick-active button:before {
  opacity: .75;
  color: white;
  background-color: #fff;
  border-radius: 50%; }

/* line 343, ../scss/style.scss */
.slider_box img {
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover; }

/*SLIDER MIDDLE*/
/*DOTS*/
/* line 354, ../scss/style.scss */
.slider_dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: -50px;
  left: calc(50% - 124px); }
  /* line 361, ../scss/style.scss */
  .slider_dots li {
    list-style: none; }
  /* line 364, ../scss/style.scss */
  .slider_dots button {
    height: 9px;
    width: 9px;
    margin: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    color: transparent; }

/* line 374, ../scss/style.scss */
.slider_dots li button:hover,
.slider_dots li button:focus {
  outline: none; }

/* line 378, ../scss/style.scss */
.slider_dots li button:hover {
  background-color: #fff;
  opacity: 0.5; }

/* line 382, ../scss/style.scss */
.slider_dots li button:focus {
  background-color: #fff; }

/* line 385, ../scss/style.scss */
.slider_dots li.slick-active button:before {
  opacity: .75;
  color: white;
  background-color: #fff;
  border-radius: 50%; }

/*ARROWS*/
/* line 395, ../scss/style.scss */
.slick_arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: transparent; }
  /* line 401, ../scss/style.scss */
  .slick_arrow i {
    color: #fff;
    text-align: center; }

/* line 406, ../scss/style.scss */
.slick-prev {
  position: absolute;
  z-index: 1;
  left: -60px; }

/* line 411, ../scss/style.scss */
.slick-next {
  position: absolute;
  z-index: 1;
  right: -60px; }

@media (max-width: 1300px) {
  /* line 419, ../scss/style.scss */
  .news {
    padding: 0 70px; } }
/* line 424, ../scss/style.scss */
.projects {
  position: relative; }
  @media (max-width: 967px) {
    /* line 424, ../scss/style.scss */
    .projects {
      margin-bottom: 120px; } }

/* line 431, ../scss/style.scss */
.project__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 967px) {
    /* line 431, ../scss/style.scss */
    .project__body {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

/* line 440, ../scss/style.scss */
.change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: relative; }
  @media (max-width: 967px) {
    /* line 440, ../scss/style.scss */
    .change {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

/* line 450, ../scss/style.scss */
.project__body__content {
  padding-left: 50px; }
  @media (max-width: 967px) {
    /* line 450, ../scss/style.scss */
    .project__body__content {
      text-align: center; } }

/* line 457, ../scss/style.scss */
.body__content__next {
  padding: 0 50px 0 0;
  margin-left: 20px; }

/* line 463, ../scss/style.scss */
.project__body__img {
  position: relative; }

/* line 467, ../scss/style.scss */
.project-img__wrap {
  z-index: 1;
  padding-bottom: 200px; }
  @media (max-width: 967px) {
    /* line 467, ../scss/style.scss */
    .project-img__wrap {
      padding-bottom: 0; } }

@media (max-width: 630px) {
  /* line 475, ../scss/style.scss */
  .project__img {
    max-width: 100%; } }

/* line 481, ../scss/style.scss */
.clearpad {
  padding-bottom: 130px; }
  @media (max-width: 967px) {
    /* line 481, ../scss/style.scss */
    .clearpad {
      padding-bottom: 0; } }

/* line 488, ../scss/style.scss */
.img_bg {
  position: absolute;
  top: 220px;
  left: 0;
  background-color: #55B7FF;
  width: 630px;
  height: 470px;
  max-width: 100%;
  max-height: 100%; }

/* line 499, ../scss/style.scss */
.img_bg__next {
  position: absolute;
  top: -70px;
  right: 0;
  background-color: #7E5AFF;
  width: 630px;
  height: 470px;
  max-width: 100%;
  max-height: 100%; }

/* line 510, ../scss/style.scss */
.projects__title {
  font-family: 'gothamBold';
  font-size: 44px;
  text-transform: uppercase;
  text-align: center;
  padding: 80px 0 160px; }

/* line 518, ../scss/style.scss */
.content__subtitle {
  font-family: 'gothamBook';
  font-size: 22px;
  text-transform: uppercase;
  color: #2c4058;
  padding-top: 65px; }

/* line 526, ../scss/style.scss */
.content__title {
  font-family: 'gothamBook';
  font-size: 44px;
  color: #2c4058;
  text-transform: uppercase;
  padding-bottom: 40px; }

/* line 534, ../scss/style.scss */
.content__description {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #4b5562; }

/* line 540, ../scss/style.scss */
.btn {
  font-family: 'gothamBook';
  font-size: 14px;
  text-transform: uppercase;
  width: 190px;
  height: 50px;
  color: #2c4058;
  border: 1px solid #2C4058;
  background-color: #fff;
  cursor: pointer;
  margin: 40px 0 60px 0; }

/* line 554, ../scss/style.scss */
.icon-map-marker:before {
  content: "\f041";
  padding-right: 10px; }

/* line 559, ../scss/style.scss */
.content__address {
  color: #2c4058;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-style: italic; }

/* line 566, ../scss/style.scss */
.gallery__title {
  font-family: 'gothamMedium';
  font-size: 44px;
  text-align: center;
  margin: 140px 0 100px 0;
  padding: 40px 0 0 0;
  text-transform: uppercase;
  border-top: 1px solid #2C4058; }

/* line 576, ../scss/style.scss */
.gallery-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

/* line 580, ../scss/style.scss */
.gallery-body__big {
  width: 100%; }

/* line 584, ../scss/style.scss */
.gallery-body__small {
  padding: 0;
  margin: 0;
  width: 100%; }

/* line 590, ../scss/style.scss */
.gallery-pic {
  padding: 0;
  margin: 0;
  max-width: 100%; }
  @media (max-width: 767px) {
    /* line 590, ../scss/style.scss */
    .gallery-pic {
      width: 500px; } }

/* line 600, ../scss/style.scss */
.gallery__btn {
  font-family: 'gothamBook';
  font-size: 14px;
  text-transform: uppercase;
  width: 190px;
  height: 50px;
  color: #2c4058;
  border: 1px solid #2C4058;
  background-color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 140px; }

/* line 618, ../scss/style.scss */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "big_pic big_pic small_pic1 small_pic2" "big_pic big_pic small_pic3 small_pic4"; }
  @media (max-width: 767px) {
    /* line 618, ../scss/style.scss */
    .grid-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 100%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

/* line 633, ../scss/style.scss */
.big_pic {
  grid-area: big_pic; }

/* line 637, ../scss/style.scss */
.small_pic1 {
  grid-area: small_pic1; }

/* line 641, ../scss/style.scss */
.small_pic2 {
  grid-area: small_pic2; }

/* line 645, ../scss/style.scss */
.small_pic3 {
  grid-area: small_pic3; }

/* line 649, ../scss/style.scss */
.small_pic4 {
  grid-area: small_pic4; }

/* line 654, ../scss/style.scss */
.footer {
  background-image: url("../images/background_head.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 520px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* line 664, ../scss/style.scss */
.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

/* line 669, ../scss/style.scss */
.footer__body {
  margin: 0 auto;
  min-width: 770px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* line 677, ../scss/style.scss */
.footer__content {
  font-family: 'gothamBook';
  font-size: 14px;
  color: #fff;
  margin-top: 50px; }

/* line 684, ../scss/style.scss */
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* line 689, ../scss/style.scss */
.footer__icon {
  color: #fff;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  margin: 0 10px 0 0; }

/* line 701, ../scss/style.scss */
.footer__form__wrap {
  position: relative; }

/* line 705, ../scss/style.scss */
.footer__form {
  position: absolute;
  width: 770px;
  background-color: #fff;
  top: -680px;
  left: 0;
  padding: 60px; }

/* line 714, ../scss/style.scss */
.wrap__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative; }

/* line 721, ../scss/style.scss */
.form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

/* line 726, ../scss/style.scss */
.form__inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

/* line 733, ../scss/style.scss */
.form__title {
  text-align: center;
  font-family: 'gothamMedium';
  font-size: 44px;
  text-transform: uppercase;
  padding-bottom: 60px; }

/* line 741, ../scss/style.scss */
.form__icon {
  color: #7E5AFF;
  padding-bottom: 45px; }

/* line 746, ../scss/style.scss */
.form__address {
  font-family: 'gothamBook';
  font-size: 14px;
  color: #2c4058;
  padding-bottom: 45px;
  margin-left: 15px; }

/* line 754, ../scss/style.scss */
.inf__input {
  height: 50px;
  width: 310px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #2C4058;
  font-family: 'gothamBook';
  font-size: 18px;
  color: #2C4058; }

/* line 765, ../scss/style.scss */
.form__button {
  font-family: 'gothamBook';
  font-size: 14px;
  text-transform: uppercase;
  width: 140px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #2C4058;
  cursor: pointer;
  margin-bottom: 80px; }

/*# sourceMappingURL=style.css.map */