/* FONTS */
@font-face {
  font-family: 'GothamBook';
  src: url(../fonts/GothamBook.woff);
  font-weight: normal; }
@font-face {
  font-family: 'GothamBold';
  src: url(../fonts/gothambold1.woff);
  font-weight: bold; }
@font-face {
  font-family: 'GothamMedium';
  src: url(../fonts/gotham-medium-webfont.woff);
  font-weight: medium; }
@font-face {
  font-family: 'OpenSansRegular';
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: normal; }
@font-face {
  font-family: 'OpenSansItalic';
  src: url(../fonts/OpenSans-Italic.ttf);
  font-weight: normal; }
/* ANIMATIONS */
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
/* GENERAL */
/* line 40, ../scss/style.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  /* line 42, ../scss/style.scss */
  * ul {
    margin: 0;
    padding-left: 0; }

/* line 48, ../scss/style.scss */
body {
  margin: 0 auto;
  min-width: 1150px;
  max-width: 1600px; }

/* line 53, ../scss/style.scss */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

/* line 58, ../scss/style.scss */
.background_item {
  width: 585px;
  height: 470px;
  background-color: #55B7FF; }

/* line 64, ../scss/style.scss */
.container {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* line 72, ../scss/style.scss */
.header {
  margin: 0 auto;
  width: 100%;
  padding-top: 10px;
  position: fixed;
  max-width: 1170px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  z-index: 1; }
  /* line 85, ../scss/style.scss */
  .header .logo_img {
    height: 55px;
    width: 250px; }
  /* line 89, ../scss/style.scss */
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 600px;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    /* line 94, ../scss/style.scss */
    .header .menu_link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-transform: uppercase;
      align-items: center; }
      /* line 100, ../scss/style.scss */
      .header .menu_link .circle {
        width: 10px;
        height: 10px;
        border: 1px solid #ffffff;
        border-radius: 50%;
        margin-right: 5px; }
      /* line 107, ../scss/style.scss */
      .header .menu_link .circle_fill {
        width: 10px;
        height: 10px;
        background-color: #ffffff;
        border: 1px solid #ffffff;
        border-radius: 50%;
        margin-right: 5px;
        display: none; }
      /* line 116, ../scss/style.scss */
      .header .menu_link .link {
        font-family: 'GothamBook';
        text-decoration: none;
        color: #ffffff; }
    /* line 122, ../scss/style.scss */
    .header .menu_link:hover .circle {
      display: none; }
    /* line 125, ../scss/style.scss */
    .header .menu_link:hover .circle_fill {
      display: block; }
  /* line 129, ../scss/style.scss */
  .header .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 160px;
    width: 100%; }
    /* line 134, ../scss/style.scss */
    .header .social a {
      height: 40px;
      width: 40px;
      font-size: 20px;
      border: 1px solid #ffffff;
      border-radius: 50%;
      display: block;
      text-align: center;
      color: #000; }
      /* line 143, ../scss/style.scss */
      .header .social a .fab {
        margin-top: 10px;
        color: #ffffff; }
    /* line 148, ../scss/style.scss */
    .header .social a:hover {
      -webkit-animation-name: rotate;
              animation-name: rotate;
      -webkit-animation-duration: 1s;
              animation-duration: 1s; }

/* line 154, ../scss/style.scss */
.news {
  background-image: url(../images/background_news.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }
  /* line 160, ../scss/style.scss */
  .news .vertical_line {
    height: 100px;
    border-bottom: 1px solid #fff;
    width: 100px; }
  /* line 165, ../scss/style.scss */
  .news .news_slider {
    width: 100%; }
    /* line 167, ../scss/style.scss */
    .news .news_slider .news_slide {
      height: 515px;
      margin: 0 15px;
      background-color: #fff; }
      /* line 171, ../scss/style.scss */
      .news .news_slider .news_slide .img_cont {
        height: 240px;
        width: 100%;
        overflow: hidden; }
      /* line 176, ../scss/style.scss */
      .news .news_slider .news_slide .h4 {
        text-transform: uppercase; }

/* SLIDER TOP*/
/* line 190, ../scss/style.scss */
.my-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
  top: 50%; }

/* line 202, ../scss/style.scss */
.my-dots li {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

/* line 211, ../scss/style.scss */
.my-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

/* line 225, ../scss/style.scss */
.my-dots li button:hover,
.my-dots li button:focus {
  outline: none; }

/* line 230, ../scss/style.scss */
.my-dots li button:hover:before,
.my-dots li button:focus:before {
  opacity: 1; }

/* line 235, ../scss/style.scss */
.my-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: url("https://upload.wikimedia.org/wikipedia/commons/b/b7/Rule_Segment_-_Circle_open_-_20px.svg");
  text-align: center;
  opacity: .25;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 253, ../scss/style.scss */
.my-dots li.slick-active button:before {
  opacity: .75;
  color: white;
  background-color: #fff;
  border-radius: 50%; }

/* line 260, ../scss/style.scss */
.slider_box img {
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover; }

/*# sourceMappingURL=style.css.map */